.mainList {
    align-content: center;
    padding-left:45%;
    padding-top: 25%;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

#actualList {
    text-align: left;
}

#websiteName {
    float: left;
}

header {
    font-weight: b2old;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.navBar {
    padding-left: 15%;
    float:inline-end;
}
